<head><link rel="stylesheet" href="/style.css"></head>
<body class="edit">
<h1>Player: <%= @player.id %></h1>
<hr/>
<p> Name: <%= @player.pretty_name %> </p>
  <br>
<p>Position: <%= @player.position %> </p>
<br>
<br>
<hr/>
