<br>
<br>
<br>
<form class="new-player-form" method="post" action="/players">

  <label for="first-name-field">First name:</label>
  <input type="text" name="first_name"/>

  <br>
  <br>

  <label for="last-name-field">Last name:</label>
  <input type="text" name="last_name">

  <br>
  <br>

  <label>Choose the team:
    <select name="team_id">
      <% for team in @teams %>
      <option value="<%= team.id %>"><%= team.name %></option>
      <% end %>
    </select>
  </label>

  <br>

  <label>Choose the position:</label>
  <select name="position">
    <option value="Goalkeeper">Goalkeeper</option>
    <option value="Defender">Defender</option>
    <option value="Midfielder">Midfielder</option>
    <option value="Forward">Forward</option>
  </select>

  <br>

  <label>Salary:</label>
  £<input
  type="number"
  name="salary"
  min="1"
  max="1000000000"
  /> Million

  <br>
  <br>

  <label>Is the player injured?</label>
  <select name="injury">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>

  <br>

  <label>Goals scored</label>
  <input
  type="number"
  name="goals"
  min="0"
  max="500"
  />

  <br>
  <br>

  <input
  type="submit"
  value="Add player"/>


</form>
