<!DOCTYPE html>
<html lang="en" dir="ltr">
    <meta charset="utf-8">
    <title>Fantasy Football</title>
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
<head>

</head>

  <body>

    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">
    <link rel="stylesheet" type="text/css" href="/styles/badges.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/players">Players</a>
        </li>
        <li>
          <a href="/teams">Teams</a>
        </li>
      </ul>

    </nav>
    <%= yield %>

  </body>
  <img class="nav-logo" src="images/FANTASY_FOOTBALL_LOGO.png">
  <footer>

  </footer>

</html>
