<!DOCTYPE html>
<html lang="en" dir="ltr">
    <meta charset="utf-8">
    <title>Fantasy Football</title>
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
<head>
  <link rel="icon" href="/images/FANTASY_FOOTBALL_LOGO.png" />
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/badges.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
</head>

  <body>

    <nav>
      <div class="big-img">
        <div class="container">
          <div class="topnav">
            <div class="sticky">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/players">Players</a>
              </li>
              <li>
                <a href="/teams">Teams</a>
              </li>
              <div class="tag-line"
              <li>Dream Your Way To Victory</li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </nav>
    <%= yield %>

  </body>
  <footer>

  </footer>

</html>
