<h1>These are the teams</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/teams/new">Add a team</a>
</p>

<table>
  <tr>
    <th>Team name</th>
  </tr>
  <% for team in @teams %>
  <tr>
      <td><%= team.name%></td>
  </tr>
  <% end %>
</table>
