
<br>
<br>
<br>
<p class="btn--wrapper">
  <a class="btn btn--action" href="/teams/new">Add a team</a>
</p>

<table align="center">
  <tr>
    <th>Team Name</th>
    <th>Team Players</th>
  </tr>
    <% for team in @teams %>
  <tr>
    <td><%= team.name %></td>
    <td> <p class="btn--wrapper">
         <a class="btn btn--action_2" href="/teams/<%= team.id %>">Show team players</a></p></td>
  </tr>
  <% end %>
</table>
<br>
<br>
<br>
<br>
