<br>
<br>
<br>
<br>
<form class="new-team-form" method="post" action="/teams">

  <label for="team-name-field">Team Name:</label>

  <input type="text" name="name">

  <input class="team-button" type="submit" value="Add Team">

</form>
