
<h1>Team: <%= @team.name %></h1>


<ul class="hover-ul">
  <% for players in @team.players %>

    <li> <%= players.pretty_name %> </li>

<% end %>
</ul>


<p><a class="btn btn--action" href="/teams/<%= @team.id %>/edit">Edit Team Name</a></p>
