
<p><a href="/teams/<%= @team.id %>/edit">Edit Team</a></p>


<p>Team:<%= @team.name %></p>
<p>Players:<%= @team.players %></p>

<form method="post" action="/teams/<%= @team.id %>/delete">
  <input type="submit" value="Delete Team"/>
</form>
