

<p>Team: <%= @teams.name %></p>
<p>Players:</p>

<!-- # <% for player in @players %>
# <p><%= player.first_name %></p>
# <% end %> -->


<p><a class="btn btn--action" href="/teams/<%= @team.id %>/edit">Edit Team</a></p>


<form class="btn btn--action" method="post" action="/teams/<%= @teams.id %>/delete">
  <input type="submit" value="delete team"/>
</form>
