
<h1>Team: <%= @team.name %></h1>


<ul>
  <% for players in @team.players %>

    <li class="list"> <%= players.pretty_name %> </li>
<br>
<br>
<% end %>
</ul>


<p><a class="btn btn--action" href="/teams/<%= @team.id %>/edit">Edit Team Name</a></p>

<p><a class="btn btn--action" href="/teams">Back to Teams</a></p>
