
<h1>Team: <%= @team.name %></h1>

<div class="">


<ul id="team-ul">
  <% for person in @team.players %>

    <a href="/players/<%= person.id %>"> <li class="list"> <%= person.pretty_name %></li></a>

<br>
<br>
<% end %>
</ul>
</div>

<p><a class="btn btn--action" href="/teams/<%= @team.id %>/edit">Edit Team Name</a></p>

<p><a class="btn btn--action" href="/teams">Back to Teams</a></p>
