.btn {
  border: 0px;
  border-radius: 5%;
  padding: 6px 15px;
  color: white;
  cursor: pointer;
  font-family: 'Cairo', sans-serif;
  font-size: 15px;
}

.btn--action {
  background-color: #3c1e49;
  font-size: 25px;
}

.btn--action:hover {
  background-color: #C71585;
}


.btn--action_2 {
  background-color: #3c1e49;
  font-size: 15px;
}

.btn--action_2:hover {
  background-color: #C71585;
  font-size: 15px;
}
