.btn {
  border: 0px;
  border-radius: 5%;
  padding: 6px 15px;
  color: white;
  cursor: pointer;
  font-family: 'Cairo', sans-serif;
}

.btn--action {
  background-color: #3c1e49;
}

.btn--action:hover {
  background-color: #ef7d3b;
}
