body {
  background-color: #613277;
  background-size: 100%;
  font-family: 'Cairo', sans-serif;
  color: white;
}

.list {
  background-color: #ef7d3b;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3c1e49;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ef7d3b;
}

.nav-logo {
  height: 12%;
  width: 12%;
  float:left;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}
p {
  text-align: center;
  font-size: 30px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ef7d3b;
  text-align: center;
}
