body {
  background-color: #613277;
  background-size: 100%;
  font-family: 'Cairo', sans-serif;
  color: white;
}

nav {
  color: ##613277;
  text-align: center;
  background-color: white;
  padding: 25px;
  margin: 0px;
  padding-right: 0px;
}
.nav-logo {
  height: 30%;
  width: 30%;
}

/* nav ul li {
  margin-bottom: 15px;
} */
