body {
  background-image: url("/images/arial-shot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Cairo', sans-serif;
}

.list {
  background-color: white;
  text-align: center;
  margin-left: 530px;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

.list:hover {
  background-color: #3c1e49;
}

#img-main {
  color: white;
}

#main-text {
  color: white;
  text-shadow: 20px;
  text-decoration: underline;
  font-weight: bold;
  text
}

.no-style {
  background: none;
  background-color: none;
}

#team-ul {
  background-color: #C71585;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #3c1e49;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #C71585;
}

.tag-line {
  text-align: right;
  font-size: 20px;
  padding-right: 20px;
  padding-top: 13px;
  color: white;
}

.center {
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  padding: 50px;
}

h2 {
  text-align: center;
  color: white;
  padding-top: 100px;
}

p {
  text-align: center;
  font-size: 30px;
  color: white;
}

.footer {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: #C71585;
  text-align: center;
  color: white;
}

grid {
  float: center;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  min-height: 400px;

}

.Goalkeeper {
  margin-top: 200px;
  margin-left: 30px;
  justify: center;
  min-width: 50px;
  min-height: 50px;
  background: #1E90FF	;
  color: white;
}

.Defender {
  margin-left: 30px;
  min-width: 50px;
  min-height: 50px;
  background: #999900	;
  color: white;

}

.Midfielder {
  margin-left: 30px;
  min-width: 50px;
  min-height: 50px;
  background: #800080	;
  color: white;
}

.Forward {
  margin-left: 10px;
  min-width: 50px;
  min-height: 50px;
  background: coral	;
  color: white;
}
